*{
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	color: #a3a3a3;
	font-family: Helvetica;
	line-height: 1.3;
}
hr {
	width: 200px;
}
p{
	font-size: 22px;
}
ul {
	text-align: center;
	margin-bottom: 30px;
}
p {
	text-align:center;
	margin-bottom: 20px;
}
ul {list-style:none;
}
h2 {
	font-style:italic;
}
a {color:inherit;
   text-decoration: none;
 }
 nav a {
 	color: #cccccc;
 	font-style: italic;
 }
 h3,h4 {margin-bottom: 20px;
 }
